@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
    background-color: hsl(216, 12%, 8%);
}
.container {
    height: 45vh;
    width: 42vh;
    position: relative;
    margin: 20vh auto;
}
.box {
    height: 100%;
    width: 100%;
    background-color: hsl(213, 19%, 15%);
    border-style: solid;
    border-width: 1px;
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.stack-top {
    z-index: 9;
}

/* Star */
.round1 {
    height: 3rem;
    width: 3rem;
    background-color: hsl(216, 12%, 19%);
    border-radius: 3rem;
    padding: 0.05rem;
    position: relative;
}
#star {
    margin: 0;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Text */
h1 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-weight: 700;
    margin-bottom: 0;
}
p {
    font-family: 'Overpass', sans-serif;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    line-height: 20pt;
    margin-top: 0;
}

/* Ratings */
#rating-box {
    display: flex;
    justify-content: space-between;
}
.round {
    height: 3rem;
    width: 3rem;
    background-color: hsl(216, 12%, 19%);
    color: hsl(217, 12%, 63%);
    border-radius: 3rem;
    padding: 0.05rem;
    position: relative;
    cursor: pointer;
    transition: background .3s ease-out; 
    
}
.in-round {
    margin: 0;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: inherit;
    font-family: 'Overpass', sans-serif;
}
.round:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

/* Sumbit Button */
button {
    width: inherit;
    height: 3rem;
    border-radius: 2rem;
    border-style: none;
    background-color: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    color: white;
    font-weight: 700;
    font-size: medium;
    margin-top: 1.5rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}
/* Thank You */
#thanks {
    margin: auto;
}
.center {
    text-align: center;
    margin: 0.6rem 0;
}
#result {
    color: hsl(25, 97%, 53%);
    background-color: hsl(216, 12%, 19%);
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}
#box {
    display: none;
}

footer {
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    padding: 1rem;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
}

.linky {
    color: hsl(217, 12%, 63%);
}
.linky:hover {
    color: white;
}